# Ollma configuration
OLLAMA_HOST=http://localhost:11434
OLLAMA_TOKEN=your_ollama_token
LLM_MODEL=gemma4:latest
EMBED_MODEL_NAME=nomic-embed-text

# Database configuration
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/cv_db
